.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  z-index: 999;
  overflow-y: scroll;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    border-radius: 12px;
    background-color: white;
    width: 80vw;
    max-width: 380px;
    padding: 20px;
    transform: scale(0.5);
    transition: 0.4s all;
    overflow-y: auto;
    max-height: 80vh;
  }

  &__content.active {
    transform: scale(1);
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    fill: var(--black);
  }

  &__close svg:hover {
    fill: var(--blue);
  }

  &__close svg:active {
    rotate: 90deg;
  }
}
