.footer {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 29px 27px;
    background-color: var(--white);
    border-radius: 15px 15px 0 0;
  }

  &__flex {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__conditions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
  }

  &__conditions-lang {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__button {
    font-weight: 500;
    font-size: 15px;
    &.active {
      font-weight: 700;
      color: var(--orange);
    }
  }

  &__link {
    &:hover {
      color: var(--orange);
    }
  }
}
